#ref-yo-programo{
    color: red;
    font-size: 25px;
    font-family: Impact;

    
}

.card-format{
    border-radius: 32px;
    margin: 10px 10px;
    padding: 20px;
    border-color: blue;
}

#ubicacion{
    margin-left: 0px;
}

.espaciado-botones{
    margin: 1px;
    display: block;
   
}

#fotoperfil{
    border-radius: 50%;  
    width: 15%; 
    height: 10%;
    position: sticky;
    margin-top: -10%;
    z-index: 1;
    margin-left: -15px;
    
    }
    
.fondo-tarjeta{
    background-image: url("https://snipboard.io/jzd2Om.jpg");
    border-radius: 32px;
}
.card-text{
    color:whitesmoke;
    margin-left: 20px;
}

#bajo-foto{
    color: black;
}

#editar-acercade{
    width: 100%;
    border-radius: 30px;

}

.logo-miniatura{
    float: left;
    height: 40px;
    width: 40px;
    margin-top: -10px;
   
}

.format-experiencias{
    margin: 0px 50px;
}

h6.format-experiencias{
    margin-top: 10px;
    font-family: Impact;
}

p.format-experiencias{
    color:darkcyan;
}

.lista-exp{
    margin-top: 20px;
}
