#ref-yo-programo{
    color: red;
    font-size: 25px;
    font-family: Impact;

    
}

.card-format{
    border-radius: 32px;
    margin: 10px 10px;
    padding: 20px;
    border-color: blue;
}

#ubicacion{
    margin-left: 0px;
}

.espaciado-botones{
    margin: 1px;
}

#fotoperfil{
    border-radius: 50%;  
    width: 15%; 
    height: 10%;
    position: sticky;
    margin-top: -10%;
    }
    
.fondo-tarjeta{
    background-image: url("https://snipboard.io/jzd2Om.jpg");
}
.card-text{
    color:whitesmoke;
    margin-left: 15px;
}

#bajo-foto{
    color: black;
}