<app-barrainicial></app-barrainicial>
<app-encabezado></app-encabezado>
<app-acerca-de></app-acerca-de>
<app-experiencias></app-experiencias>  
<app-educacion></app-educacion>
<app-hys-skills></app-hys-skills>
<app-proyectos></app-proyectos>
     
   
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>  
    <script src="https://kit.fontawesome.com/037a5edb5c.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script>
